h3 {
    font-size: 30px;
    font-family: Arial, serif;
    margin-top: 6%;
}
hr.one{
    background: black;
    height: 2px;
    border-radius: 10px;
}
table{
}
    width: 750px;
    border-collapse: collapse;
    margin:50px auto;
}
tr:nth-of-type(odd) {
    background: #eee;
}
th{
    background: #015798;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 15px;
    font-family: Arial;
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table {
        width: 100%;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }

}
.text a{
    font-size: 25px;
    color:darkmagenta;
    margin:  15% auto;
}
.container a{
    color:darkmagenta;
}
h1{
    color:#015798;
    text-align: center;
}
.logout{
    font-weight: bold;
}
i{
    font-size: 26px;
    margin-left: 3%;
    color: darkmagenta;
}
.three{
    background-color: none;
    border-radius: 12px;

    padding:8px;
    box-shadow: 0px 0px 5px #015798;
    width: auto;
    height: auto;


}