.three p{
    font-size: 30px;
    font-weight: bold;
    margin-top: 6%;
    color: indianred;
}
.one p{
    font-size: 30px;
    margin-left:35%;
    color: cornflowerblue;
}
a{
    margin-left:58%;
    color: darkmagenta;
}
.two p{
    font-size: 20px;
    margin-left:35%;
    font-weight: bold;
    color: cornflowerblue;
}
i{
    margin-top: 6%;
    font-size:30px;
    margin-left: 35%;
}

body{
    background-image: url("../img/h.png");
}