h2{
    font-size: 30px;
    font-family: Times New Roman;
    text-align: left;
}
.form input[type="submit"]{
    border-color: transparent;
    border-radius: 6px;
    padding: 4px 14px;
    alignment: center;
    background-color: #0e90d2;
    color: #ffffff;

}
.form input[type="submit"]:hover{
    border-color: black;

}
.form p{
    font-size: 20px;
}
